

.container {
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-rows: 0.2fr 1.5fr 1.5fr 0.2fr;
    grid-template-areas: "nav nav nav nav"
                        "sidebar main main main"
                        "sidebar main main main"
                        "footer footer footer footer";
    grid-gap: 0.2rem;
    text-align: center;
    font-family: 'Marhey', cursive;
    font-size:large;

}

a {
    text-decoration:none;
}

    a:link {
        color: black;

    }
    
a:visited {
    color: black;

}
a:hover {
    font-weight: bold;
}
a:active {
    color:gray ;
}

/* img {
    float: right;
} */
input {

    border-radius: 5px;
    border-color: darkslateblue;
    
}
nav {
    background: #fbf8cc;
    grid-gap: 0;
    grid-area: nav;
    position: sticky;
    top: 0;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns:  0.3fr 2fr 1fr 1fr 1fr 1fr 1fr 0.3fr;

    
}

form {
    grid-area: form;
    
    display: grid;
    /* height: 100vh; */
    grid-template-columns: 2fr 2fr;
    grid-template-rows:  2fr 2fr 2fr 2fr;
    text-align: left;
    align-items: center;

    
}
.button {
        background-color: #874caf; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        align-items: center;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        width: 50%;
        height: fit-content;

      }   
    
    
  
 .form_txt {
    grid-area: top;

 }

 .details {
    grid-area: details;
    display: flex;
    flex-wrap: wrap;
 }

.feedbacks {
    grid-area: feedbacks;
}

.buttns {
    grid-area: buttons;
}

.toscroll{
    display: block;
    overflow: scroll;
    height: 80vh;
}
.hide {
    display: none;
    
  }
      
  .myDIV:hover + .inside >.hide {
    
    display: block;
   float: center;
   z-index: 50;

   
  }
  

main {
    background: #ffcfd2;
    grid-area: main;
    height: 100%; 
    overflow: scroll;
    display: grid;
    /* grid-template-columns: repeat(5 1fr);
    grid-template-rows: repeat(4 5fr);
    grid-template-areas: "name name name name name"
                          "movie movie movie movie movie "
                          "place place place place place"
                          "form form form form form";

     */
     z-index: 0;
}
.movie {
    grid-area: movie;
    display: grid;
    grid-template-columns: 4fr 1fr;
    
    
}
.place > .inside {
    grid-area: place;
    display: grid;
    grid-template-columns: 4fr 1fr;
    
    
}
.inside img {
width: 80%;
}
.name {
    grid-area: name;
}


#sidebar {
    background: #cfbaf0;
    grid-area: sidebar;
    
   
}
 
#sidelist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 0.5fr) 3fr ;
    grid-template-areas: "nav1"
                        "nav2"
                        "nav3"
                        "nav4"
                        "nav5"
                        "nav6"
                        "empty";
    /* grid-gap: 5px; */
    position: -webkit-sticky;

    position: sticky;
    top:0;
    align-self: start;
    padding-inline-start: 0px;
}

#nav1 {
    background-color: #cfbaf0;
    grid-area: nav1;
}
#nav2 {
    background-color: #f1c0e8;
    grid-area: nav2;
}
#nav3 {
    background-color: #cfbaf0;
    grid-area: nav3;
}
#nav4 {
    background-color: #f1c0e8;
    grid-area: nav4;
}
#nav5 {
    background-color: #cfbaf0;
    grid-area: nav5;}

#nav6 {
        background-color: #f1c0e8;
        grid-area: nav6;
}
#empty {background-color: #cfbaf0;
grid-area: nav6;}

ul {list-style: none;
    text-align: center;
    }


footer {
    background: #b9fbc0;
    grid-area: footer;
    position: sticky;
    bottom: 0;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items:center;
    
    

}
        
     
@media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "footer"
        "form";
        align-items: center;
    }
    main{
        height: auto; 
    overflow: visible;
    }

}
